.gio-chart-legend {
}

.gio-chart-legend .dropdown {
  position: relative;
  display: inline-block;
  font-size: 12px;
  color: #1248e9;
}
.gio-chart-legend .dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 24px rgba(36, 46, 89, 0.1);
  padding: 16px;
  border-radius: 4px;

  z-index: 1;
  color: #242e59;
}

.gio-chart-legend .dropdown:hover .dropdown-content {
  display: block;
}

.gio-chart-legend .dropdown-item {
  text-align: left;
  margin-bottom: 8px;
}
