.drilldown-tooltip {
  button {
    color: #313e75;
    width: 100%;
    border: 1px solid #dfe4ee;
    box-sizing: border-box;
    border-radius: 4px;
    height: 30px;
    margin-top: 8px;
    &:hover {
      cursor: pointer;
    }
  }
}
