@import url(../../../style/theme.less);
.gio-d-charts {
  .drag-layout {
    display: flex;
    width: 100%;

    &-resize {
      display: flex;
      align-items: baseline;
      justify-content: center;
      margin-right: 9px;
      border-right: 2px solid #fff;
      &:hover {
        border-right: 2px solid #5f87ff;
      }
    }
    &-content {
      width: 100%;
      min-width: 70px;
    }
  }
  .vertical-menu {
    &-item {
      position: absolute;
      right: 9px;
      display: inline-block;
      width: calc(100% - 12px);
      overflow: hidden;
      color: @default-font-color;
      font-size: @default-font-size;
      font-family: @default-font-family;
      white-space: nowrap;
      text-align: right;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }

  .vertical-content {
    min-width: 44px;
    margin-right: 9px;
    padding: 20px 12px;
    background: #f7f8fc;
    border: 1px solid #ebedf5;
    border-radius: 4px;

    &-title {
      overflow: hidden;
      color: @default-font-color;
      font-size: @default-font-size;
      font-family: @default-font-family;
      line-height: 22px;
      white-space: nowrap;
      text-align: right;
      text-overflow: ellipsis;
    }
    &-total {
      color: #7b819c;
      font-size: @default-font-size;
      font-family: @default-font-family;
      line-height: 22px;
      text-align: right;
    }
  }
}
