.gio-d-charts {
  .drag-layout {
    display: flex;
    width: 100%;
    overflow: hidden;
    &-resize {
      display: flex;
      align-items: baseline;
      justify-content: center;
      margin-right: 9px;
      border-right: 2px solid #fff;
      &:hover {
        border-right: 2px solid #5f87ff;
      }
    }
    &-content {
      width: 100%;
      min-width: 1px;
    }
  }
}
