.gio-scroll-y-layout {
  overflow-x: hidden;
  overflow-y: auto;
}

.gio-scroll-x-layout {
  display: block;
  width: 100%;
  .layout-content {
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
  }
}
