.gio-chart-infocard {
  border-radius: 4px;
  /* box-shadow: 0px 8px 24px rgba(36, 46, 89, 0.1); */
  background: #ffffff;
  /* 在g2-tooltip样式中，padding: 0 12px */
  padding: 16px 4px;
  width: 220px;
  /* display: flex; */
  max-height: 360px;
  overflow-y: auto;
}

.gio-chart-infocard .title {
  font-size: 14px;
  color: #242e59;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
  margin-bottom: 16px;
}

.gio-chart-infocard .item {
  height: 24px;
  text-align: left;
  line-height: 1;
}

.gio-chart-infocard .item .block {
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  background-color: #ffffff;
  width: 14px;
  height: 14px;
  margin-right: 8px;
  border-radius: 2px;
  vertical-align: sub;
}

.gio-chart-infocard .item .bar {
  height: 14px;
  vertical-align: sub;
}

.gio-chart-infocard .item .line {
  height: 2px;
  vertical-align: middle;
}

.gio-chart-infocard .value {
  float: right;
}

.gio-chart-infocard .label {
  display: inline;
  font-size: 12px;
  line-height: 1;
  margin-right: 20px;
  cursor: pointer;
  text-align: left;
}
