.gio-d-charts {
  display: block;
  width: 100%;
  overflow: hidden;
  font-family: 'PingFang SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei', Lato, sans-serif;

  &__title {
    width: 100%;
    height: 30px;
    overflow: hidden;
    color: #313e75;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;
  }

  &_main {
    display: flex;
  }

  &_left {
    display: inline-table;
  }

  &_right {
    width: 100%;
  }

  &_tooltip {
    &-content {
      position: relative;
      height: 0;
      visibility: hidden;
    }
  }
}
