.gio-d-charts {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  font-family: 'PingFang SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif, Lato, sans-serif;

  &__title {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    color: #313e75;
  }

  &_main {
    display: flex;
  }

  &_left {
    display: inline-table;
  }
  &_right {
    width: 100%;
  }
  &_tooltip {
    &-content {
      height: 0;
      visibility: hidden;
    }
  }
}
