.gio-scroll-y-director {
  overflow-y: auto;
  overflow-x: hidden;
}

.gio-scroll-x-director {
  width: 100%;
  display: block;
  .director-content {
    display: block;
    overflow-y: hidden;
    overflow-x: auto;
  }
}
